{% extends "content/base.html" %}

{% block title %}
<h1>Seznam článků</h1>
{% endblock %}


{% block main %}
    {% for article in articles %}
        <h2><a href = "{% url 'content:game' game.id %}">{{game.name}}</a></h2>
        <strong>
            {% for category in article.categories.all %}
            <a href="{% url 'content:category' category.id %}">{{category.name}}</a> {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </strong>
        <p>{{article.perex}}</p>
    {% endfor %}
{% endblock %}