{% load static %}

<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <title>Game rating web</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <header class="main-header">
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'content:homepage' %}">Homepage</a></li>
                <li><a href="{% url 'content:games' %}">Games</a></li>
                <li><a href="{% url 'content:authors' %}">Authors</a></li>
                <li><a href="{% url 'content:ratings' %}">Ratings</a></li>
                <li><a href="{% url 'content:login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    {% block title %}
    {% endblock %}
    <main>
        {% block main %}
        {% endblock %}
    </main>
    {% include 'content/footer.html' %}
</body>

</html>