{% extends "content/base.html" %}

{% block title %}
Rubrika {{category.name}}
{% endblock %}

{% block main %}
    {% for game in games %}
        <h2><a href = "{% url 'content:game' game.id %}">{{game.name}}</a></h2>
        <strong>
            {% for category in article.categories.all %}
            <a href="{% url 'content:category' category.id %}">{{category.name}}</a> {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </strong>
        <p>{{game.about}}</p>
    {% endfor %}
    <a href="{% url 'content:games' %}">Zpet na seznam</a>
{% endblock %}