{% extends "content/base.html" %}

{% block title %}
<h1>Welcome to the Game Ratings Site</h1>
{% endblock %}

{% block main %}
<div class="homepage">
<p>This web will be used to rate games I played in my childhood.</p>
<a href="{% url 'content:games' %}">View Games</a>
<a href="{% url 'content:ratings' %}">View Ratings</a>
<a href="{% url 'content:authors' %}">View Game Authors</a>
<div id="klikz-4"></div>
<script src="https://klikz.svs.gyarab.cz/hit/4?size=small&front=c581c0"></script>
</div>
{% endblock %}