{% extends "content/base.html" %}

{% block title %}
<h2>Games rated {{ rating.stars }}</h2>
{% endblock %}

{% block main %}
<div class="game-container">
    {% if games %}
        {% for game in games %}
        <div class="game-item">
            <h2><a href="{% url 'content:game' game.id %}">{{ game.name }}</a></h2>
            <strong>
                <a href="{% url 'content:rating' game.rating.id %}">Rating: {{ game.rating.stars }}</a> <br>
                {% for author in game.author.all %}
                <a href="{% url 'content:author' author.id %}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </strong>
            <p id='about'>{{ game.about }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No games rated as {{ rating.stars }}.</p>
    {% endif %}
    <div class="back_button"><a href="javascript:history.back()">Back to previous page</a></div>
{% endblock %}